# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React Native / Metro
.expo/
.expo-shared/
.expo-shared/assets.json

# Build outputs
build/
dist/
coverage/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS dosyaları
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# External projects
/web-project
